@font-face {
    font-family: 'Stinger';
    src: url('/fonts/stinger/StingerFitTrial-Bold.ttf'), url('/fonts/stinger/StingerFitTrial-Regular.ttf') format ('ttf');  
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
